* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url(./image/bg-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0 auto;


}

.banner1 {
    background-image: url(./image/shape.png);
    background-repeat: no-repeat;
    background-position-x: 16%;
    background-position-y: center;
    width: 100vw;
    height: 100vh;
}

.nav-content {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
  
}

.nav-content div h3 {
    font-size: 30px;
    font-weight: 100;
    line-height: 50px;

}
.nav-content div h1{
    font-size: 50px;
}
.nav-content div a{
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

/* ?????????????????????????????? */
.heading-1{
   text-align: center;
   font-size: 40px;
   font-weight: bold; 
}
.heading-2{
    text-align: center;
    line-height: 25px;
}